
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../Assets/sr71crop.png');
  background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  font-family: "Share Tech", sans-serif;
}
body::before{
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

body > * {
  position: relative;
  z-index: 1;
}

.registerDesign {
  background-color: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerDesign h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
  font-size: 32px;
}

.input-box {
  width: 100%;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s ease;
}

.input-box input:focus {
  border-color: #9d9d9d;;
  outline: none;
}

input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  margin: 10px 0;
  font-size: 14px;
  background-color: white;
  border: 2px solid #555;
  border-radius: 4px;
}

.check-admin label {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="checkbox"]:checked {
  background-color: #808080; /* culoare când e bifat */
  border-color: #808080;
}

input[type="checkbox"]:checked::after {
  position: absolute;
  font-size: 14px;
  color: rgb(255, 255, 255);
  content: "✔";
  position: absolute;
  top: 294px;
  left: 33px;
}

.admin-password {
  width: 100%;
  margin-top: 10px;
}

.admin-password input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border 0.3s ease;
}

.admin-password input:focus {
  border-color: #9d9d9d;;
  outline: none;
}


button[type="btn-register"] {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #808080;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="btn-register"]:hover {
  background-color: #3f3f3f;
}
